<header>
    <div class="title">
        <h2><a [routerLink]="['detail']">Ka numero {{un_ka.idKA}}</a></h2>
        <!-- <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p> -->
    </div>
    <div class="meta">
        <time class="published" datetime="2015-11-01">{{un_ka.date|date:'d MMMM YYYY'|uppercase}}</time>
        <!-- <a [routerLink]="['detail']" class="author"><span class="name">Jane Doe</span><img src="assets/images/avatar.jpg" alt="" /></a> -->
    </div>
</header>
<a [routerLink]="['detail',un_ka.idKA]" class="image featured"><img src="assets/images/pic01.jpg" alt="" /></a>
<p>{{un_ka.texte| slice:0:200}}</p>
<footer>
    <ul class="actions">
        <li><a [routerLink]="['detail',un_ka.idKA]" class="button large">Continuer la lecture</a></li>
    </ul>
    <ul class="stats">
        <li><a href="#">General</a></li>
        <li><a href="#" class="icon solid fa-heart">28</a></li>
        <li><a href="#" class="icon solid fa-comment">128</a></li>
    </ul>
</footer>