<div id="wrapper">
    <!-- Main -->
    <div id="main">

        <!-- Post -->
        <article class="post">
            <article >
                <div class="container">
                    <img src="assets/images/pic01.jpg" alt="Snow" style="width:100%;">
                    <ul class="bottom-left stats">
                        <li><a class="icon solid fa-heart" (click)="aimer()">{{un_ka.nombre_aime}}</a></li>
                        <li><a class="icon solid fa-comment">{{un_ka.nombre_commentaire}}</a></li>
                    </ul>
                    <div class="top-left">#{{un_ka.idKA}}</div>
                    <!-- <div class="top-right">Top Right</div> -->
                    <div class="bottom-right">{{un_ka.date}}</div>
                    <div class="centered">{{un_ka.description| slice:0:200}}</div>
                </div>
            </article>
            <p>{{un_ka.texte}}</p>
            <h3>Les commentaires</h3>
            <p>
                pas de commentaires
            </p>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Contenu</label>
                    <input class="form-control" name="texte"
                        [(ngModel)]="form.texte" type="text"/>
                </div>
                <a class="icon solid fa-comment">{{un_ka.nombre_commentaire}}</a>
            </form>
        </article>

    </div>
</div>