<div id="wrapper">
    <!-- Main -->
    <div id="main">

        <!-- Post -->
        <article class="post">
            <article >
                <div class="container">
                    <img src="assets/images/pic01.jpg" alt="Snow" style="width:100%;">
                    <ul class="bottom-left stats">
                        <li><a class="icon solid fa-heart" (click)="aimer()">{{un_ka.nombre_aime}}</a></li>
                        <li><a class="icon solid fa-comment">{{un_ka.nombre_commentaire}}</a></li>
                    </ul>
                    <div class="top-left">#{{un_ka.idKA}}</div>
                    <!-- <div class="top-right">Top Right</div> -->
                    <div class="bottom-right">{{un_ka.date}}</div>
                    <div class="centered">{{un_ka.description| slice:0:200}}</div>
                </div>
            </article>
            <p>{{un_ka.texte}}</p>
            <h3>Les commentaires</h3>
            <ul class="les_commentaires">
                <li *ngIf="les_commentaires.length==0">Pas de commentaires</li>
                <li *ngFor="let item of les_commentaires">{{item.texte}} <br>
                    <span class="nombre_reponse">Réponses({{item.les_reponses.length}})</span><a
                        (click)="item.bool=!item.bool"
                        class="repondre_commentaire">{{item.bool?"annuler":"répondre"}}</a>
                    <form *ngIf="item.bool">
                        <input type="text" [name]="'commentaire_'+item.idComm" [(ngModel)]="item.reponse">
                        <input type="submit" [name]="valider" value="Valider" (click)="repondre_comentaire(item)">
                    </form>
                    <ul>
                        <li *ngFor="let une_reponse of item.les_reponses">{{une_reponse.texte}}
                        </li>
                    </ul>
                </li>
            </ul>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Contenu</label>
                    <textarea class="form-control" name="texte" [(ngModel)]="form.texte" rows="3"> </textarea>
                </div>
                <input type="submit" name="valider" value="Valider" (click)="valider()">
            </form>
        </article>

    </div>
</div>