<div id="wrapper">

  <!-- Main -->
  <div id="main">

    <!-- Post -->
    <article *ngFor="let un_ka of les_ka" class="post">
      <header>
        <div class="title">
          <h2><a  [routerLink]="['detail']">Ka numero {{un_ka.idKA}}</a></h2>
          <!-- <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p> -->
        </div>
        <div class="meta">
          <time class="published" datetime="2015-11-01">{{un_ka.date|date:'d MMMM YYYY'|uppercase}}</time>
          <!-- <a [routerLink]="['detail']" class="author"><span class="name">Jane Doe</span><img src="assets/images/avatar.jpg" alt="" /></a> -->
        </div>
      </header>
      <a  [routerLink]="['detail',un_ka.idKA]" class="image featured"><img src="assets/images/pic01.jpg" alt="" /></a>
      <p>{{un_ka.texte| slice:0:200}}</p>
      <footer>
        <ul class="actions">
          <li><a  [routerLink]="['detail',un_ka.idKA]" class="button large">Continuer la lecture</a></li>
        </ul>
        <ul class="stats">
          <li><a href="#">General</a></li>
          <li><a href="#" class="icon solid fa-heart">28</a></li>
          <li><a href="#" class="icon solid fa-comment">128</a></li>
        </ul>
      </footer>
    </article>




    <!-- Pagination -->
    <ul class="actions pagination">
      <li><a href="" class="disabled button large previous">Previous Page</a></li>
      <li><a href="#" class="button large next">Next Page</a></li>
    </ul>

  </div>

  <!-- Sidebar -->
  <section id="sidebar">

    <!-- Intro -->
    <section id="intro">
      <a href="#" class="logo"><img src="assets/images/logo.jpg" alt="" /></a>
      <header>
        <h2>SUNUKA</h2>
        
      </header>
    </section>

    <!-- Mini Posts -->
    <section>
      <div class="mini-posts">

        <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a  [routerLink]="['detail']">Vitae sed condimentum</a></h3>
            <time class="published" datetime="2015-10-20">October 20, 2015</time>
            <a href="#" class="author"><img src="assets/images/avatar.jpg" alt="" /></a>
          </header>
          <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic04.jpg" alt="" /></a>
        </article>

        <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a  [routerLink]="['detail']">Rutrum neque accumsan</a></h3>
            <time class="published" datetime="2015-10-19">October 19, 2015</time>
            <a href="#" class="author"><img src="assets/images/avatar.jpg" alt="" /></a>
          </header>
          <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic05.jpg" alt="" /></a>
        </article>

        <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a  [routerLink]="['detail']">Odio congue mattis</a></h3>
            <time class="published" datetime="2015-10-18">October 18, 2015</time>
            <a href="#" class="author"><img src="assets/images/avatar.jpg" alt="" /></a>
          </header>
          <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic06.jpg" alt="" /></a>
        </article>

        <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a  [routerLink]="['detail']">Enim nisl veroeros</a></h3>
            <time class="published" datetime="2015-10-17">October 17, 2015</time>
            <a href="#" class="author"><img src="assets/images/avatar.jpg" alt="" /></a>
          </header>
          <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic07.jpg" alt="" /></a>
        </article>

      </div>
    </section>

    <!-- Posts List -->
    <section>
      <ul class="posts">
        <li>
          <article>
            <header>
              <h3><a  [routerLink]="['detail']">Lorem ipsum fermentum ut nisl vitae</a></h3>
              <time class="published" datetime="2015-10-20">October 20, 2015</time>
            </header>
            <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic08.jpg" alt="" /></a>
          </article>
        </li>
        <li>
          <article>
            <header>
              <h3><a  [routerLink]="['detail']">Convallis maximus nisl mattis nunc id lorem</a></h3>
              <time class="published" datetime="2015-10-15">October 15, 2015</time>
            </header>
            <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic09.jpg" alt="" /></a>
          </article>
        </li>
        <li>
          <article>
            <header>
              <h3><a  [routerLink]="['detail']">Euismod amet placerat vivamus porttitor</a></h3>
              <time class="published" datetime="2015-10-10">October 10, 2015</time>
            </header>
            <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic10.jpg" alt="" /></a>
          </article>
        </li>
        <li>
          <article>
            <header>
              <h3><a  [routerLink]="['detail']">Magna enim accumsan tortor cursus ultricies</a></h3>
              <time class="published" datetime="2015-10-08">October 8, 2015</time>
            </header>
            <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic11.jpg" alt="" /></a>
          </article>
        </li>
        <li>
          <article>
            <header>
              <h3><a  [routerLink]="['detail']">Congue ullam corper lorem ipsum dolor</a></h3>
              <time class="published" datetime="2015-10-06">October 7, 2015</time>
            </header>
            <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic12.jpg" alt="" /></a>
          </article>
        </li>
      </ul>
    </section>

    

  <app-footer></app-footer>

  </section>
</div>