<div id="wrapper">
    <div class="container" id="main">
        <form>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"
                    [(ngModel)]="form.description"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Contenu</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" name="texte"
                    [(ngModel)]="form.texte"></textarea>
            </div>
            <button type="submit" class="btn btn-success text-white" (click)="ajouter()">Ajouter</button>
            <button type="submit" class="btn btn-danger text-white">Annuler</button>
        </form>
    </div>
<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
      <a href="#" class="logo"><img src="assets/images/logo.jpg" alt="" /></a>
      <header>
        <h2>SUNUKA</h2>
        
      </header>
    </section>

    <!-- Mini Posts -->
    <section>
      <div class="mini-posts">

        <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a  [routerLink]="['detail']">Vitae sed condimentum</a></h3>
            <time class="published" datetime="2015-10-20">October 20, 2015</time>
            <a href="#" class="author"><img src="assets/images/avatar.jpg" alt="" /></a>
          </header>
          <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic04.jpg" alt="" /></a>
        </article>

        <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a  [routerLink]="['detail']">Rutrum neque accumsan</a></h3>
            <time class="published" datetime="2015-10-19">October 19, 2015</time>
            <a href="#" class="author"><img src="assets/images/avatar.jpg" alt="" /></a>
          </header>
          <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic05.jpg" alt="" /></a>
        </article>

        <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a  [routerLink]="['detail']">Odio congue mattis</a></h3>
            <time class="published" datetime="2015-10-18">October 18, 2015</time>
            <a href="#" class="author"><img src="assets/images/avatar.jpg" alt="" /></a>
          </header>
          <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic06.jpg" alt="" /></a>
        </article>

        <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a  [routerLink]="['detail']">Enim nisl veroeros</a></h3>
            <time class="published" datetime="2015-10-17">October 17, 2015</time>
            <a href="#" class="author"><img src="assets/images/avatar.jpg" alt="" /></a>
          </header>
          <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic07.jpg" alt="" /></a>
        </article>

      </div>
    </section>

    <!-- Posts List -->
    <section>
      <ul class="posts">
        <li>
          <article>
            <header>
              <h3><a  [routerLink]="['detail']">Lorem ipsum fermentum ut nisl vitae</a></h3>
              <time class="published" datetime="2015-10-20">October 20, 2015</time>
            </header>
            <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic08.jpg" alt="" /></a>
          </article>
        </li>
        <li>
          <article>
            <header>
              <h3><a  [routerLink]="['detail']">Convallis maximus nisl mattis nunc id lorem</a></h3>
              <time class="published" datetime="2015-10-15">October 15, 2015</time>
            </header>
            <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic09.jpg" alt="" /></a>
          </article>
        </li>
        <li>
          <article>
            <header>
              <h3><a  [routerLink]="['detail']">Euismod amet placerat vivamus porttitor</a></h3>
              <time class="published" datetime="2015-10-10">October 10, 2015</time>
            </header>
            <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic10.jpg" alt="" /></a>
          </article>
        </li>
        <li>
          <article>
            <header>
              <h3><a  [routerLink]="['detail']">Magna enim accumsan tortor cursus ultricies</a></h3>
              <time class="published" datetime="2015-10-08">October 8, 2015</time>
            </header>
            <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic11.jpg" alt="" /></a>
          </article>
        </li>
        <li>
          <article>
            <header>
              <h3><a  [routerLink]="['detail']">Congue ullam corper lorem ipsum dolor</a></h3>
              <time class="published" datetime="2015-10-06">October 7, 2015</time>
            </header>
            <a  [routerLink]="['detail']" class="image"><img src="assets/images/pic12.jpg" alt="" /></a>
          </article>
        </li>
      </ul>
    </section>

    

  <app-footer></app-footer>

  </section>
</div>